html { 
    background: url(../images/hpimg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: harrypotter;
    src: url(../css/HARRYP__.TTF);
}

.container {
    margin: 2% 10%;
}

header h1 {
    text-align: center;
    font-family: harrypotter;
    font-size: 4rem;
}

h2 {
    font-family: harrypotter;
}

body {
    background-color: transparent;
}


.row {
    display: flex;
    justify-content: space-evenly;
}

#selectChar {
    display: flex;
    justify-content: flex-start;
}

#battleZone {
    display: flex;
    justify-content: center;
}

.card {
    margin: .5rem;
    box-shadow: 8px 8px rgb(102, 106, 124);
    border: 6px solid rgba(12, 12, 12, 0.35);
}

.card-body {
    height: 2rem;
    padding: 0;
    text-align: center;
    align-content: center;
    font-family: harrypotter;
    font-size: 1.3rem;
}

.btn {
    /* display: none; */
    margin: 2rem;
    margin-top: 0;
    font-family: harrypotter;
    font-size: 2rem;
    text-align: center;
    width: auto;
    padding: .5rem, .2rem;
}
 
#fightButton {
    display: none;
}

#textArea {
    /* margin-left: 2rem; */
    /* padding-top: 2rem; */
    display: flex;
    justify-content: center;
}

#battleText1,
#battleText2 {
    font-family: 'Oranienbaum', serif;
    font-size: 1.4rem;
    color: white;
    margin-right: .5rem;
    text-shadow:1px 1px 2px black, 0 0 25px rgb(58, 58, 59), 0 0 5px rgb(38, 38, 39);
    

}

#vs {
    font-family: harrypotter;
    text-align: center;
    margin: 2rem;
    padding-top: 1rem;
    color: rgb(163, 53, 53);
    font-size: 3rem;
    text-shadow:1px 1px 2px white;
}

.ui-effects-wrapper {
    display: inline-flex;
  }

@media screen and (max-width: 431px){

.card {
    transform: scale(.6);
    margin: .2rem;
}

.container {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
margin: 0 auto;


}
#battleZone {
    flex-wrap: nowrap;
}

#vs {
    transform: scale(.6);
    margin: .03rem;
    padding: .02rem;
}

.btn {
    transform: scale(.7);
    margin: .03rem;
}

.row {
    height: auto;

}

}
@media screen and (min-width: 432px){
    .card {
        transform: scale(.9);
    }
    #vs {
        transform: scale(.9);
        margin: scale(.9);
        padding: scale(.9);
    }
    
    .btn {
        transform: scale(.9);
        margin: scale(.9);
    }
}
